`    <!DOCTYPE html>
<!--=== Coding by CodingLab | www.codinglabweb.com === -->
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" th:href="@{/css/admissionStyle.css}" />

    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!--<title>Responsive Regisration Form </title>-->
</head>
<body>
<div class="container">
    <header>Admission Form</header>

    <form action="#" th:action="@{/students/save}"
          th:object="${student}" method="post">

        <input type="hidden" th:field="*{id}">

        <div class="form first">
            <div class="details personal">
                <span class="title">Personal Details</span>

                <div class="fields">
                    <div class="input-field">
                        <label>Full Name</label>

                        <input type="text" placeholder="Enter your name"
                               th:field="*{fullNames}" required>
                    </div>

                    <div class="input-field">
                        <label>Email</label>
                        <input type="email" placeholder="Enter your email"
                               th:field="*{email}" required>
                    </div>

                    <div class="input-field">
                        <label>Phone Number</label>
                        <input type="text" placeholder="Enter your phone number"
                               th:field="*{phoneNumber}" required>
                    </div>

                    <div class="input-field">
                        <label>Faculty</label>
                        <input type="text" placeholder="Enter your Faculty"
                               th:field="*{faculty}" required>
                    </div>
                    <!--                         <div class="input-field">-->
                    <!--                              <label>Add Cv</label>-->
                    <!--                               <input type="file" name="files" id="files" accept = "application/pdf"/>-->
                    <!--                         </div>-->

                    <!--                            <div class="input-field">-->
                    <!--                                <label>Add Passport Image</label>-->
                    <!--                                <input type="file" name="pic" id="pic" accept=".jpg,.jpeg,.png" />-->
                    <!--                            </div>-->
                </div>
            </div>

            <!--            <div class="details ID">-->
            <!--                <span class="title">Identity Details</span>-->

            <!--                <div class="fields">-->
            <!--                    <div class="input-field">-->
            <!--                        <label>ID Type</label>-->
            <!--                        <input type="text" placeholder="Enter ID type" required>-->
            <!--                    </div>-->

            <!--                    <div class="input-field">-->
            <!--                        <label>ID Number</label>-->
            <!--                        <input type="number" placeholder="Enter ID number" required>-->
            <!--                    </div>-->
            <!--                </div>-->

            <!--            </div>-->

            <div class="buttons">
                <button class="submit" type="submit">
                    <span class="btnText">Submit</span>
                    <i class="uil uil-navigator"></i>
                </button>
                <button class="submit" type="reset">
                    <span class="btnText">Reset</span>
                </button>
            </div>
            <div class="buttons">
                <button class="submit" type="button">
                <a th:href="@{/students/list}" style="color:white; text-decoration:none;">
                    Back to students List
                </a>
                </button>
            </div>
        </div>

    </form>
</div>

<!--<script th:src="@{/js/admission.js}"></script>-->
</body>
</html>
`