<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>students-list</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>

<div class="container">

    <h3>Students List</h3>
    <hr>
    <!-- Add a button-->

    <nav class="nav">
        <a th:href="@{/students/admission}"
           class="btn btn-primary btn-sm mb-3">
            Add Student
        </a>
&nbsp;&nbsp;&nbsp;
        <a th:href="@{/admins/login}"
           class="btn btn-primary btn-sm mb-3">
            Log out
        </a>
<!--        <form action="#" th:action="@{/logout}"-->
<!--              method="post">-->
<!--            <input type="submit" value="Logout"/>-->
<!--        </form>-->
    </nav>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Faculty</th>
            <th>Phone Number</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempStudent : ${theStudents}">
            <td th:text="${tempStudent.fullNames}" />
            <td th:text="${tempStudent.email}" />
            <td th:text="${tempStudent.faculty}" />
            <td th:text="${tempStudent.phoneNumber}" />
            <td>
                <a th:href="@{/students/showFormForUpdate(studentId=${tempStudent.id})}"
                   class="btn btn-info btn-sm">
                    Update
                </a>

                <!--Add "delete" button-->
                <a th:href="@{/students/deleteStudent(studentId=${tempStudent.id})}"
                   class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Are you sure you want to delete this employee?'))) return false">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>